#loginformdiv{

margin-left:85px;

	 height:460px;
    width: 1100px;
    background-color:white;

display: flex;
justify-content: center;
align-items: center;


}

#loginformdiv:hover{ 
	
	box-shadow: 1px 1px 50px 2px #040254;
 }

#loginform{
	background-color:#040254;
	color: white;
	border-radius: 20px;
	display: inline-block;
	height: 260px;
	width: 460px;

	
	
}

#login{

		margin-left:45px;


	}
	input[type="Submit"]{
	background-color: white;
	color: rgb(1, 1, 49);
	padding: 5px 16px;
	margin-top: 15px;
	margin-left:5px;
	border: none;
	cursor: pointer;
	border-radius: 4px;

}

input[type="Password"],
input[type="text"],
textarea{
	width:  75%;
	
	
	border: 1px solid white;
	border-radius: 5px;

}
